# Site wide configuration

title:            Zach Shefska
locale:           en_US
url:


# Jekyll configuration

permalink:   /:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false


# Site owner
owner:
  name: Zach Shefska
  avatar: https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAMKAAAAJDE1MGNhNmRiLTdlMDctNDA2MS05NjgxLWY2NjJiMzc4ZTEwMw.jpg
  bio: "20 year old entrepreneur, web developer, and workout enthusiast from Annapolis, MD."
  email: zach@shefska.com
  disqus-shortname: zachshefska
  twitter: shefska
  facebook: zach.shefska
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
  github: zachs77
  stackoverflow: #123456/username   from a "http://stackoverflow.com/users/123456/username" link
  linkedin: zachshefska
  xing: #username
  instagram: shefska
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username
  codepen: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
